header.header
    block headerContent
    .header__logo
    .header__title
      h1 Муниципальное общеобразовательное учреждение средняя общеобразовательная школа №3 г. Ростова
    .header__links
    .header__search