sidebar.sidebar
   ul.sidebar__list
      li.sidebar__item
         a.sidebar__link(href='') Главная
      li.sidebar__item
         a.sidebar__link(href='') События
      li.sidebar__item
         a.sidebar__link(href='') Сведения об образовательной организации
      li.sidebar__item
         a.sidebar__link(href='') Условия обучения 
      li.sidebar__item
         a.sidebar__link(href='') Финансирование
      li.sidebar__item
         a.sidebar__link(href='') Всероссийская олимпиада школьников
      li.sidebar__item
         a.sidebar__link(href='') Обращения граждан
      li.sidebar__item
         a.sidebar__link(href='') программа Наше наследие
      li.sidebar__item
         a.sidebar__link(href='') Наши достижения
      li.sidebar__item
         a.sidebar__link(href='') Учительская
      li.sidebar__item
         a.sidebar__link(href='') Родителям
      li.sidebar__item
         a.sidebar__link(href='') Проведение государственной (итоговой) аттестации
      li.sidebar__item
         a.sidebar__link(href='') Электронные сервисы
      li.sidebar__item
         a.sidebar__link(href='') Уполномоченный по защите прав участников образовательного процесса
      li.sidebar__item
         a.sidebar__link(href='') Линия помощи
      li.sidebar__item
         a.sidebar__link(href='') Школьные специалисты
      li.sidebar__item
         a.sidebar__link(href='') Безопасность
      li.sidebar__item
         a.sidebar__link(href='') Школьный музей
      li.sidebar__item
         a.sidebar__link(href='') Карта сайта
      li.sidebar__item
         a.sidebar__link(href='') Другие организации


